@model IEnumerable<Learning.Models.Quiz>

@{
    ViewBag.Title = "Qui";
}

<h2>Qui</h2>


<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Quest)
        </th>
        <th>
      
    </tr>

</table>
